{% extends "@OCBooking/layout.html.twig" %}
{% block title %}
{{ parent() }} - Confirmation de commande
{% endblock %}

{% block booking_body %}
    <div class="container">
        <div class="card">
            <div class="d-block p-2 bg-primary text-white">Votre réservation</div>
            <div class="card-body">
                <p> Identifiant de réservation #{{ order.id }}</p>
                <p>Code de réservation : {{ order.bookingToken }}</p>
                <p>Date de réservation : Le {{ order.bookingDate | date('d/m/Y') }}</p>
                <p>Date de la visite : {{ order.visitDate| date('d/m/Y à H:i') }}</p>
                <p>Email renseigné : {{ order.email }}</p>
                <p>Nombre de tickets : {{ order.nbTickets }}</p>
                <p>Type de réservation : {% if order.visitType == false %}
                        {{ 'billet Demi-Journée' }}
                    {% else %}
                        {{ 'billet Journée' }}
                    {% endif %}</p>
            </div>
        </div>


        <div class="card">
            <div class="d-block p-2 bg-dark text-white">{% if tickets|length > 1 %}Tickets réservés
            {% else %}
            Ticket réservé
            {% endif %}</div>
            <div class="card-body">
                <table class="table-bordered table">
                    <thead>
                    <tr>
                        <th scope="col">Nom</th>
                        <th scope="col">Prénom</th>
                        <th scope="col">Date de naissance</th>
                        <th scope="col">Nationalité</th>
                        <th scope="col">Tarif réduit</th>
                        <th scope="col">Prix</th>
                    </tr>
                    </thead>
                    <tbody>
                {% for ticket in tickets %}
                    <tr>
                        <td>{{ ticket.lastname }}</td>
                        <td>{{ ticket.firstname }}</td>
                        <td id="oc_bookingbundle_birthdayDate">{{ ticket.birthdayDate| date('d/m/Y') }}</td>
                        <td>{{ ticket.country }}</td>
                        <td id="reducPrice">{% if ticket.reducPrice == false %}{{ 'Non' }}
                        {% else %}
                            {{ 'Oui' }}
                        {% endif %}</td>
                        <td>{{ ticket.price }} €</td>
                    </tr>
                {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>



        <div class="text-center card">
            <div class="text-center">
                {% set total = 0 %}
                {% for ticket in tickets %}
                    {% set total = total + ticket.price %}
                {% endfor %}
                <p id="order_total" class="lead">Montant total de votre commande :  {{ total }} €</p>
            </div>
            <form action="" method="POST">
                <script
                        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="pk_test_7lbBCuu8smUAHzN42c0rwM1e"
                        data-amount="{{ total * 100 }}"
                        data-label="Payer {{ total }} €"
                        data-name="Billetterie du Louvre"
                        data-description="Votre commande #{{ order.id }}"
                        data-locale="auto"
                        data-currency="eur">
                </script>
                <input type="text" name="total" value="{{ total }}" hidden>
            </form>
        </div>

    </div>
    {% block javascripts %}
    {% endblock %}
{% endblock %}
