{% extends "@OCBooking/layout.html.twig" %}
{% block title %}
{{ parent() }} - Confirmation de commande
{% endblock %}

{% block booking_body %}
    <div class="container">
        <div class="card">
            <div class="d-block p-2 bg-primary text-white">Votre réservation</div>
            <div class="card-body">
                <p> Identifiant de réservation #{{ order.id }}</p>
                <p>Code de réservation : {{ order.bookingToken }}</p>
                <p>Date de réservation : Le {{ order.bookingDate | date('d/m/Y') }}</p>
                <p>Date de la visite : {{ order.visitDate| date('d/m/Y à H:i') }}</p>
                <p>Email renseigné : {{ order.email }}</p>
                <p>Nombre de tickets : {{ order.nbTickets }}</p>
                <p>Type de réservation : {% if order.visitType == false %}
                        {{ 'billet Demi-Journée' }}
                    {% else %}
                        {{ 'billet Journée' }}
                    {% endif %}</p>
            </div>
        </div>


        <div class="card">
            <div class="d-block p-2 bg-dark text-white">Tickets réservés</div>
            <div class="card-body">
                {% for ticket in tickets %}
                    {{ ticket.firstname }}
                    {{ ticket.lastname }}
                    {{ ticket.birthdayDate| date('d/m/Y') }}
                    {{ ticket.country }}
                    {{ ticket.reducPrice }}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}